# Database configurations
DB_NAME=pme_analytix
DB_USER=pme_user
DB_PASSWORD=pme_password_change_me_in_prod

# Core Django settings
SECRET_KEY=django-insecure-shared-key-pme-analytix-2026
JWT_SECRET_KEY=jwt-shared-secret-key-pme-analytix-2026

# Cache and Queue
REDIS_URL=redis://redis:6379/0

# B2B integrations
B2B_API_KEY=b2b-api-key-pme-analytix-2026
